In [14]:
import pandas as pd

"""
Todo

각 데이터를 동별 수치로 저장한다.
각 동별로 데이터를 합쳐서 최종 클러스터링 진행한다.

취약 계층(X) - 독거 노인 수, 기초생활 수급자 수
취약 요인(Y) - 재개발 현황, 유흥주점 수
"""

In [3]:
df = pd.read_csv('강서구_기초생활보장수급자_20230418171345.csv')
df

,동별(1),동별(2),동별(3),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7
0,동별(1),동별(2),동별(3),총 수급자,총 수급자,일반수급자,일반수급자,조건부 수급자,조건부 수급자,특례수급자,특례수급자
1,동별(1),동별(2),동별(3),가구,인원 (명),가구,인원 (명),가구,인원 (명),가구,인원 (명)
2,본청,강서구,염창동,179,233,163,206,16,27,-,-
3,본청,강서구,등촌1동,237,309,205,267,26,36,6,6
4,본청,강서구,등촌2동,304,432,256,343,43,84,5,5
5,본청,강서구,등촌3동,4199,5507,3577,4471,456,806,166,230
6,본청,강서구,화곡본동,1291,1904,1095,1584,175,298,21,22
7,본청,강서구,화곡2동,612,935,507,764,102,168,3,3
8,본청,강서구,화곡3동,500,677,426,560,63,105,11,12
9,본청,강서구,화곡4동,844,1228,703,989,124,217,17,22
10,본청,강서구,화곡6동,761,1019,625,820,109,167,27,32
11,본청,강서구,화곡8동,782,1145,670,954,101,179,11,12
12,본청,강서구,가양1동,228,307,201,262,24,42,3,3
13,본청,강서구,가양2동,2624,3330,2376,2867,206,410,42,53
14,본청,강서구,가양3동,1785,2312,1558,1935,174,309,53,68
15,본청,강서구,발산1동,928,1546,763,1214,145,300,20,32
16,본청,강서구,공항동,1107,1771,912,1416,164,312,31,43
17,본청,강서구,방화1동,830,1210,724,1024,93,169,13,17
18,본청,강서구,방화2동,1314,1698,1148,1416,128,235,38,47
19,본청,강서구,방화3동,1771,2276,1526,1891,199,328,46,57
20,본청,강서구,화곡1동,1507,1971,1281,1649,185,269,41,53
21,본청,강서구,우장산동,497,694,426,578,61,106,10,10

In [4]:
# column rename, drop
df.rename(columns = {"동별(3)": "동"}, inplace = True)
df.drop(columns = ["동별(1)", "동별(2)"], inplace = True)
df = df.drop([0, 1], axis=0).reset_index(drop=True)
df.rename(columns = {"2021": "가구수"}, inplace = True)
df.rename(columns = {"2021.1": "인원수"}, inplace = True)
df = df[['동','가구수','인원수']]
df

       동   가구수   인원수
0    염창동   179   233
1   등촌1동   237   309
2   등촌2동   304   432
3   등촌3동  4199  5507
4   화곡본동  1291  1904
5   화곡2동   612   935
6   화곡3동   500   677
7   화곡4동   844  1228
8   화곡6동   761  1019
9   화곡8동   782  1145
10  가양1동   228   307
11  가양2동  2624  3330
12  가양3동  1785  2312
13  발산1동   928  1546
14   공항동  1107  1771
15  방화1동   830  1210
16  방화2동  1314  1698
17  방화3동  1771  2276
18  화곡1동  1507  1971
19  우장산동   497   694

In [5]:
df.to_csv('./data/강서구기초생활보장수급자.csv')

In [6]:
df=pd.read_csv('강서구독거노인_20230418171117.csv')
df.head()

,동별(1),동별(2),동별(3),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11
0,동별(1),동별(2),동별(3),합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,동별(1),동별(2),동별(3),소계,소계,소계,국민기초생활보장 수급권자,국민기초생활보장 수급권자,국민기초생활보장 수급권자,저소득노인,저소득노인,저소득노인,일 반,일 반,일 반
2,동별(1),동별(2),동별(3),계,계,계,계,계,계,계,계,계,계,계,계
3,동별(1),동별(2),동별(3),소계,남,여,소계,남,여,소계,남,여,소계,남,여
4,서울특별시,강서구,염창동,629,173,456,73,21,52,15,4,11,541,148,393

In [7]:
df.rename(columns = {"2021": "취약노인총합"}, inplace = True)
df.drop(columns = ["동별(1)", "동별(2)"], inplace = True)
df.rename(columns = {"동별(3)": "동"}, inplace = True)
df = df.drop([0, 1, 2, 3], axis=0).reset_index(drop=True)
df = df[['동','취약노인총합']]
df

       동 취약노인총합
0    염창동    629
1   등촌1동    758
2   등촌2동    530
3   등촌3동   2696
4   화곡본동   1212
5   화곡2동    674
6   화곡3동    781
7   화곡4동    903
8   화곡6동    917
9   화곡8동   1011
10  가양1동    539
11  가양2동   1690
12  가양3동   1328
13  발산1동    893
14   공항동   1021
15  방화1동   1228
16  방화2동   1449
17  방화3동   1722
18  화곡1동   1978
19  우장산동    904

In [8]:
df.to_csv('./data/취약노인수.csv')

In [15]:
df = pd.read_csv('서울시 유흥주점영업 인허가 정보.csv',encoding='cp949')
df.head()

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,공장판매직종업원수,공장생산직종업원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지
0,3150000,3150000-102-2017-00001,20170524,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3150000,3150000-102-2022-00006,20221114,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3150000,3150000-102-2023-00002,2023-04-04,NaN,3,폐업,2,폐업,2023-04-11,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3150000,3150000-102-2020-00004,2020-12-30,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3150000,3150000-102-2018-00002,20180112,NaN,1,영업/정상,1,영업,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# 필요없는 column 제거
target = ['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '위생업태명', '남성종사자수', '여성종사자수',
       '공장사무직종업원수',
       '공장판매직종업원수', '공장생산직종업원수', '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모',
       '전통업소지정번호', '전통업소주된음식', '홈페이지']
df.drop(columns = target, inplace = True)
# 폐업인 경우 제거
df = df[df['영업상태코드']!=3]
df.head()

,영업상태코드,영업상태명,소재지우편번호,지번주소,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y),영업장주변구분명,등급구분명,급수시설구분명,총인원,본사종업원수
0,1,영업/정상,157928,서울특별시 강서구 화곡동 1117-7 (지하 1층 중 2층),"서울특별시 강서구 공항대로46길 90, 지일중 이층 (화곡동, 6동)",7658.0,밀크노래타운2,간이주점,186742.624405,450021.683310,NaN,NaN,NaN,NaN,NaN
1,1,영업/정상,157928,서울특별시 강서구 화곡동 1117-10 지하1층,"서울특별시 강서구 화곡로 318-1, 지하1층 (화곡동)",7658.0,강구 별밤,노래클럽,186712.751990,450014.905649,NaN,NaN,NaN,NaN,NaN
3,1,영업/정상,157-910,서울특별시 강서구 화곡동 935-1,"서울특별시 강서구 곰달래로16길 32, 2층 (화곡동)",7775.0,궁전노래바,룸살롱,185803.611846,447396.459237,NaN,NaN,NaN,NaN,NaN
4,1,영업/정상,157210,서울특별시 강서구 마곡동 795-6 뉴골든타워 (지상 5층) 502-1호,"서울특별시 강서구 마곡중앙6로 89, 뉴골든타워 5층 502-1호 (마곡동)",7803.0,여기서 놀자,룸살롱,185553.000000,450880.000000,NaN,NaN,NaN,NaN,NaN
5,1,영업/정상,157918,서울특별시 강서구 화곡동 1006-3 (지하 1층),"서울특별시 강서구 강서로 245, 지하 1층 (화곡동, 3동)",7705.0,오렌지 노래바,룸살롱,185438.341330,449492.230136,NaN,NaN,NaN,NaN,NaN

In [17]:
import re

def get_add(address):
    # address = row['도로명주소']
    result = re.search('\((.*?)\)', address)

    return result.group(1)

def conv(addr):
    convert_dict = {'마곡동':'가양1동', '마곡동, 가양 1동 뉴골든타워':'가양1동', '화곡동':'화곡2동',
        '화곡동, 1동':'화곡1동','화곡동, 3동': '화곡3동', '화곡동, 6동':'화곡6동', '화곡동, 1동 화곡심포니타워': '화곡1동', '화곡동, 8동':'화곡8동', '화곡동, 6동 삼호빌딩':'화곡6동',
        '화곡동, 우장산동':'화곡본동', '가양동, 2동 씨드가양플라자':'가양2동', '화곡동, 6동 삼보프라자':'화곡6동', '화곡동, 화곡1동':'화곡1동',
        '방화동, 2동':'방화2동', '화곡동, 본동':'화곡본동', '화곡동, 6동, 우측':'화곡6동', '염창동, 나이아가라호텔':'염창동', '가양동, 2동 씨드가양플라자 ':'가양2동'
        }
    temp = addr
    if addr in convert_dict:
        temp = convert_dict[addr]
    
    return temp

# 동 정보만 가져오기
df['동'] = df['도로명주소'].apply(get_add)
df['동']

# 동 이름 맞춰주기
df['동'] = df['동'].apply(conv)
df['동'].unique()

array(['화곡6동', '화곡2동', '가양1동', '화곡3동', '화곡1동', '공항동', '방화2동', '화곡8동',
       '화곡본동', '가양2동', '염창동'], dtype=object)

In [18]:
df.head()

,영업상태코드,영업상태명,소재지우편번호,지번주소,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y),영업장주변구분명,등급구분명,급수시설구분명,총인원,본사종업원수,동
0,1,영업/정상,157928,서울특별시 강서구 화곡동 1117-7 (지하 1층 중 2층),"서울특별시 강서구 공항대로46길 90, 지일중 이층 (화곡동, 6동)",7658.0,밀크노래타운2,간이주점,186742.624405,450021.683310,NaN,NaN,NaN,NaN,NaN,화곡6동
1,1,영업/정상,157928,서울특별시 강서구 화곡동 1117-10 지하1층,"서울특별시 강서구 화곡로 318-1, 지하1층 (화곡동)",7658.0,강구 별밤,노래클럽,186712.751990,450014.905649,NaN,NaN,NaN,NaN,NaN,화곡2동
3,1,영업/정상,157-910,서울특별시 강서구 화곡동 935-1,"서울특별시 강서구 곰달래로16길 32, 2층 (화곡동)",7775.0,궁전노래바,룸살롱,185803.611846,447396.459237,NaN,NaN,NaN,NaN,NaN,화곡2동
4,1,영업/정상,157210,서울특별시 강서구 마곡동 795-6 뉴골든타워 (지상 5층) 502-1호,"서울특별시 강서구 마곡중앙6로 89, 뉴골든타워 5층 502-1호 (마곡동)",7803.0,여기서 놀자,룸살롱,185553.000000,450880.000000,NaN,NaN,NaN,NaN,NaN,가양1동
5,1,영업/정상,157918,서울특별시 강서구 화곡동 1006-3 (지하 1층),"서울특별시 강서구 강서로 245, 지하 1층 (화곡동, 3동)",7705.0,오렌지 노래바,룸살롱,185438.341330,449492.230136,NaN,NaN,NaN,NaN,NaN,화곡3동

In [19]:
grouped = df.groupby('동').size()
print(grouped)
grouped.to_csv('./data/강서구유흥주점수.csv', header=['유흥주점수'])

동
가양1동    31
가양2동     2
공항동      2
방화2동     1
염창동      1
화곡1동    32
화곡2동    13
화곡3동     5
화곡6동    34
화곡8동     2
화곡본동     3
dtype: int64

In [20]:
# 재개발
df = pd.read_csv('서울시 재개발 재건축 정비사업 현황.csv',encoding='cp949')
df = df[['법정동', '대표지번', '건설세대총수', '용적률', '정비구역면적(㎡)', '건축연면적(㎡)', '택지면적(㎡)', '지상층수']]
df.columns

Index(['법정동', '대표지번', '건설세대총수', '용적률', '정비구역면적(㎡)', '건축연면적(㎡)', '택지면적(㎡)',
       '지상층수'],
      dtype='object')

In [21]:
import re

def trans(row):
    print(row)
    addr = row['법정동']
    res = addr

    numbers = re.findall('\d+', row['대표지번'])
    num = int(numbers[0])

    if addr=='마곡동':
        res = '방화1동'
    elif addr=='방화동':
        if num == 615 or num==584 or num==589:
            res= '방화2동'
        else:
            res = '방화1동'
    elif addr=='화곡동':
        if num==259 or num==424:
            res = '화곡1동'
        elif num==1027 or num==73:
            res = '우장산동'
        elif num==1040:
            res = '화곡3동'
        elif num==812:
            res = '화곡4동'
        elif num==1133:
            res = '화곡6동'
        else:
            res='화곡본동'
    elif addr=='등촌동':
        if num >= 600:
            res = '등촌1동'
        else:
            res = '등촌2동'
    elif addr=='내발산동':
        res='발산1동'

    return res

df['동'] = df.apply(trans, axis=1)

법정동                방화동
대표지번         방화동 584-1
건설세대총수             NaN
용적률                NaN
정비구역면적(㎡)          NaN
건축연면적(㎡)           NaN
택지면적(㎡)            NaN
지상층수               NaN
Name: 0, dtype: object
법정동                 마곡동
대표지번         마곡동 327-53
건설세대총수            374.0
용적률              261.25
정비구역면적(㎡)       16400.1
건축연면적(㎡)       69401.38
택지면적(㎡)        14888.26
지상층수               15.0
Name: 1, dtype: object
법정동                 염창동
대표지번         염창동 244-18
건설세대총수              NaN
용적률              249.16
정비구역면적(㎡)        2317.4
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 2, dtype: object
법정동                  화곡동
대표지번         화곡동 1040-24
건설세대총수               NaN
용적률                  NaN
정비구역면적(㎡)            NaN
건축연면적(㎡)             NaN
택지면적(㎡)              NaN
지상층수                 NaN
Name: 3, dtype: object
법정동                염창동
대표지번         염창동 242-4
건설세대총수           146.0
용적률             249.63
정비구역면적(㎡)       6521.3
건축연면적(㎡)      24944.08
택지면적(㎡)            NaN
지상층수              19.0
Name: 4, dtype: object
법정동              등촌동
대표지번         등촌동 651
건설세대총수           NaN
용적률           229.72
정비구역면적(㎡)     1080.7
건축연면적(㎡)     3358.58
택지면적(㎡)       1070.7
지상층수             9.0
Name: 5, dtype: object
법정동              염창동
대표지번         염창동 283
건설세대총수           NaN
용적률           299.93
정비구역면적(㎡)     1736.7
건축연면적(㎡)     6627.37
택지면적(㎡)          0.0
지상층수            15.0
Name: 6, dtype: object
법정동               공항동
대표지번          공항동 4-8
건설세대총수          603.0
용적률            239.59
정비구역면적(㎡)      316.68
건축연면적(㎡)     100291.3
택지면적(㎡)        3809.0
지상층수             15.0
Name: 7, dtype: object
법정동                염창동
대표지번         염창동 275-5
건설세대총수             NaN
용적률             173.76
정비구역면적(㎡)       1903.4
건축연면적(㎡)           0.0
택지면적(㎡)            NaN
지상층수               9.0
Name: 8, dtype: object
법정동                 염창동
대표지번         염창동 277-24
건설세대총수              NaN
용적률              289.68
정비구역면적(㎡)       21607.7
건축연면적(㎡)       71186.11
택지면적(㎡)         16467.6
지상층수               20.0
Name: 9, dtype: object
법정동                 화곡동
대표지번         화곡동 812-26
건설세대총수              NaN
용적률                 NaN
정비구역면적(㎡)           NaN
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 10, dtype: object
법정동                내발산동
대표지번         내발산동 714-4
건설세대총수              NaN
용적률              171.64
정비구역면적(㎡)        2159.1
건축연면적(㎡)            NaN
택지면적(㎡)           19.43
지상층수                NaN
Name: 11, dtype: object
법정동                방화동
대표지번         방화동 191-3
건설세대총수             NaN
용적률             199.58
정비구역면적(㎡)       4639.0
건축연면적(㎡)      12954.31
택지면적(㎡)         4622.9
지상층수              16.0
Name: 12, dtype: object
법정동                 등촌동
대표지번         등촌동 366-24
건설세대총수              NaN
용적률              180.51
정비구역면적(㎡)      30772.04
건축연면적(㎡)       72901.14
택지면적(㎡)         27395.2
지상층수               13.0
Name: 13, dtype: object
법정동                 등촌동
대표지번         등촌동 656-35
건설세대총수              NaN
용적률                 NaN
정비구역면적(㎡)        3234.1
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 14, dtype: object
법정동                 방화동
대표지번         방화동 608-97
건설세대총수            537.0
용적률              235.12
정비구역면적(㎡)       31554.2
건축연면적(㎡)       99889.43
택지면적(㎡)         26415.2
지상층수               16.0
Name: 15, dtype: object
법정동                방화동
대표지번         방화동 278-7
건설세대총수             NaN
용적률             224.14
정비구역면적(㎡)       5597.0
건축연면적(㎡)      19755.03
택지면적(㎡)         5597.0
지상층수              15.0
Name: 16, dtype: object
법정동                  방화동
대표지번         방화동 615-103
건설세대총수            1327.0
용적률               222.85
정비구역면적(㎡)        90383.0
건축연면적(㎡)        248639.3
택지면적(㎡)          75367.0
지상층수                15.0
Name: 17, dtype: object
법정동                 내발산동
대표지번         내발산동 716-20
건설세대총수              87.0
용적률                200.0
정비구역면적(㎡)         3353.6
건축연면적(㎡)         9102.52
택지면적(㎡)           3351.6
지상층수                 7.0
Name: 18, dtype: object
법정동                  화곡동
대표지번         화곡동 1027-50
건설세대총수               NaN
용적률               217.39
정비구역면적(㎡)        31237.0
건축연면적(㎡)        80382.84
택지면적(㎡)          26632.0
지상층수                15.0
Name: 19, dtype: object
법정동                공항동
대표지번            공항동 18
건설세대총수          1596.0
용적률             220.11
정비구역면적(㎡)      98737.0
건축연면적(㎡)     292204.78
택지면적(㎡)        79206.0
지상층수              15.0
Name: 20, dtype: object
법정동                 마곡동
대표지번         마곡동 327-53
건설세대총수              NaN
용적률                 NaN
정비구역면적(㎡)           NaN
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 21, dtype: object
법정동                 방화동
대표지번         방화동 589-13
건설세대총수              NaN
용적률                 NaN
정비구역면적(㎡)           NaN
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 22, dtype: object
법정동                염창동
대표지번         염창동 253-1
건설세대총수             NaN
용적률                NaN
정비구역면적(㎡)       182.35
건축연면적(㎡)           NaN
택지면적(㎡)            NaN
지상층수               NaN
Name: 23, dtype: object
법정동                방화동
대표지번         방화동 286-1
건설세대총수             NaN
용적률             207.88
정비구역면적(㎡)       4089.0
건축연면적(㎡)      13409.54
택지면적(㎡)         4089.0
지상층수              15.0
Name: 24, dtype: object
법정동                 방화동
대표지번         방화동 247-71
건설세대총수              NaN
용적률                 NaN
정비구역면적(㎡)           NaN
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 25, dtype: object
법정동                방화동
대표지번         방화동 584-1
건설세대총수             NaN
용적률             249.71
정비구역면적(㎡)       1478.0
건축연면적(㎡)       6323.74
택지면적(㎡)            NaN
지상층수               7.0
Name: 26, dtype: object
법정동                  화곡동
대표지번         화곡동 359-124
건설세대총수               NaN
용적률                  NaN
정비구역면적(㎡)            NaN
건축연면적(㎡)             NaN
택지면적(㎡)              NaN
지상층수                 NaN
Name: 27, dtype: object
법정동                 화곡동
대표지번         화곡동 73-105
건설세대총수              NaN
용적률                 NaN
정비구역면적(㎡)           NaN
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 28, dtype: object
법정동                공항동
대표지번         공항동 61-42
건설세대총수             NaN
용적률                NaN
정비구역면적(㎡)          NaN
건축연면적(㎡)           NaN
택지면적(㎡)            NaN
지상층수               NaN
Name: 29, dtype: object
법정동             공항동
대표지번         공항동 14
건설세대총수          NaN
용적률             NaN
정비구역면적(㎡)       NaN
건축연면적(㎡)        NaN
택지면적(㎡)         NaN
지상층수            NaN
Name: 30, dtype: object
법정동             공항동
대표지번         공항동 21
건설세대총수          NaN
용적률             NaN
정비구역면적(㎡)       NaN
건축연면적(㎡)        NaN
택지면적(㎡)         NaN
지상층수            NaN
Name: 31, dtype: object
법정동                 화곡동
대표지번         화곡동 1133-7
건설세대총수              NaN
용적률                 NaN
정비구역면적(㎡)           NaN
건축연면적(㎡)            NaN
택지면적(㎡)             NaN
지상층수                NaN
Name: 32, dtype: object
법정동                 화곡동
대표지번         화곡동 424-63
건설세대총수              NaN
용적률              185.71
정비구역면적(㎡)       42647.1
건축연면적(㎡)      117261.21
택지면적(㎡)         42647.1
지상층수               15.0
Name: 33, dtype: object
법정동               등촌동
대표지번          등촌동 365
건설세대총수            NaN
용적률            210.76
정비구역면적(㎡)     45424.7
건축연면적(㎡)     134680.0
택지면적(㎡)       41320.2
지상층수             20.0
Name: 34, dtype: object
법정동               염창동
대표지번          염창동 255
건설세대총수          302.0
용적률            446.41
정비구역면적(㎡)      8523.5
건축연면적(㎡)     36799.18
택지면적(㎡)           NaN
지상층수             19.0
Name: 35, dtype: object

In [22]:
grouped = df.groupby('동').agg({'건설세대총수': 'sum', '동': 'count'})
grouped = grouped.rename(columns={'동': 'count'})

# 결측치가 있는 경우 0으로 대체
grouped.fillna(0, inplace=True)

# 결과 출력
display(grouped)

# 저장
grouped.to_csv('./data/재건축수.csv')

      건설세대총수  count
동
공항동   2199.0      5
등촌1동     0.0      2
등촌2동     0.0      2
발산1동    87.0      2
방화1동   911.0      7
방화2동  1327.0      4
염창동    448.0      7
우장산동     0.0      2
화곡1동     0.0      1
화곡3동     0.0      1
화곡4동     0.0      1
화곡6동     0.0      1
화곡본동     0.0      1

In [ ]:
# 부동산
df = pd.read_csv('서울시 부동산 실거래가 정보.csv',encoding='cp949')
df.columns

/var/folders/4x/t45944gn70vch0nx3k1jlq700000gn/T/ipykernel_67693/841036910.py:2: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('서울시 부동산 실거래가 정보.csv',encoding='cp949')

Index(['접수연도', '자치구코드', '자치구명', '법정동코드', '법정동명', '지번구분', '지번구분명', '본번', '부번',
       '건물명', '계약일', '물건금액(만원)', '건물면적(㎡)', '토지면적(㎡)', '층', '권리구분', '취소일',
       '건축년도', '건물용도', '신고구분', '신고한 개업공인중개사 시군구명'],
      dtype='object')

In [ ]:
cols = ['접수연도', '법정동명','물건금액(만원)', '건물면적(㎡)','건축년도']
df[cols]

        접수연도 법정동명  물건금액(만원)  건물면적(㎡)    건축년도
0       2023  화곡동     17000    57.78  2001.0
1       2023  등촌동     30700    36.91  2014.0
2       2023  마곡동    131000    84.88  2014.0
3       2023  마곡동     18000    22.20  2017.0
4       2023  화곡동     19700    51.09  2004.0
...      ...  ...       ...      ...     ...
191135  2006  방화동      5000    28.50  2001.0
191136  2006  공항동     16700    58.20  2003.0
191137  2006  방화동      3500    26.86  1999.0
191138  2006  화곡동      7200    37.62  2005.0
191139  2006  염창동     28900    84.99  2005.0

[191140 rows x 5 columns]

In [ ]:
# 동별 물건 금액 평균
# 동별 건물 면적별 금액 평균
# 동별 건축 년도 평균
# '법정동명'별 '물건금액(만원)' 평균
avg_price = df.groupby('법정동명')['물건금액(만원)'].mean().rename('물건금액_평균')
avg_price_per_area = df.groupby('법정동명').apply(lambda x: (x['물건금액(만원)'] / x['건물면적(㎡)']).mean()).rename('면적당_물건금액_평균')
avg_build_year = df.groupby('법정동명')['건축년도'].mean().rename('건축년도_평균')
result = pd.merge(avg_price, avg_price_per_area, on='법정동명').merge(avg_build_year, on='법정동명')

In [ ]:
result

           물건금액_평균  면적당_물건금액_평균      건축년도_평균
법정동명
가양동   33816.022145   612.786574  1981.598044
개화동   77744.170616   615.155641  1985.658654
공항동   33175.567248   522.761389  1997.557497
내발산동  39280.572641   536.997452  1990.871195
등촌동   33947.611210   554.518568  2000.515857
마곡동   39857.428527   823.370232  1807.348793
방화동   29696.419408   505.867264  1994.161962
상도동   12000.000000   414.364641  2017.000000
시흥동   17500.000000   816.231343  2001.000000
염창동   43254.642890   619.339951  1987.382708
오곡동   49000.000000   247.474747  2001.000000
외발산동  15689.354839   302.952315  2000.464516
화곡동   25160.437874   450.194363  1993.670901

In [ ]:
result.to_csv('./data/강서구부동산.csv')

In [13]:
import pandas as pd
df = pd.read_csv('./data/강서구부동산_수기.csv')
# 동일한 이름일 경우 모든 값들을 평균으로 하여 다시 저장
df_grouped = df.groupby('법정동명').mean()
df_grouped.to_csv('./data/강서구부동산_최종.csv')